[Desktop Entry]
Version=1.0
Name=zkCoin Core
Comment=Connect to the zkCoin P2P network
GenericName=Cryptocurrency Wallet
Exec=litecoin-qt %u
Terminal=false
Type=Application
Icon=litecoin128
MimeType=x-scheme-handler/litecoin;
Categories=Office;Finance;Network;
Keywords=zkcoin;crypto;cryptocurrency;wallet;blockchain;
StartupNotify=true
StartupWMClass=Litecoin-qt
